<!-- footer content -->
<div class="footer">
    <div class="container">
        <p class="footer-block">© 2018 Copyright: Dani Colangelo
            <a href="#">Whack the Competition - Made with EJS</a>
        </p>
    </div>
</div>


<!-- external scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

<!-- internal scripts -->
<script src="/js/script.js"></script>

</body>

</html>